@using System.Text;

@{
    ViewBag.Title = "Grid Columns Example";

    StringBuilder sb = new StringBuilder();
    sb.Append("天地玄黃 宇宙洪荒 日月盈昃 辰宿列張 寒來暑往 ");
    sb.Append("秋收冬藏 閏餘成歲 律呂調陽 雲騰致雨 露結為霜 ");
    sb.Append("金生麗水 玉出崑岡 劍號巨闕 珠稱夜光 果珍李柰 ");
    sb.Append("菜重芥薑 海鹹河淡 麟潛羽翔 龍獅火帝 鳥官人皇 ");
    sb.Append("始制文字 乃服衣裳 推位讓國 有虞陶唐 弔民伐罪 ");
    sb.Append("周發商湯 坐朝問道 垂拱平章 愛育黎首 臣伏戎羌 ");
    sb.Append("遐邇壹體 率賓歸王 鳴鳳在竹 白駒食場 化被草木 ");
    sb.Append("賴及萬方 蓋此身髮 四大五常 恭惟鞠養 豈敢毀傷 ");
    sb.Append("女慕貞烈 男效才良 知過必改 得能莫忘 罔談彼短 ");
    sb.Append("靡恃己長 信使可復 器欲難量 莫悲絲染 詩讚羔羊 ");

    string article = sb.ToString();
}

<div class="jumbotron alert-info">
    <h3>Grid System中的版面配置</h3>
    <p>利用.col-md-1, .col-md-2 ~ .col-md-12進行版面配置</p>
</div>

<div class="alert alert-info">將版面等分為三欄Panel元件</div>
@Html.Partial("MoviePartial")

<div class="alert alert-info">將版面等分為兩欄</div>
<div class="row">
    <div class="col-md-6"><pre>@article</pre></div>
    <div class="col-md-6"><pre>@article</pre></div>
</div>

<div class="alert alert-info">將版面等分為三欄文字</div>
<div class="row">
    <div class="col-md-4"><pre>@article</pre></div>
    <div class="col-md-4"><pre>@article</pre></div>
    <div class="col-md-4"><pre>@article</pre></div>
</div>

<div class="alert alert-info">將版面等分為四欄</div>
<div class="row">
    <div class="col-md-3"><pre>@article</pre></div>
    <div class="col-md-3"><pre>@article</pre></div>
    <div class="col-md-3"><pre>@article</pre></div>
    <div class="col-md-3"><pre>@article</pre></div>
</div>


<div class="alert alert-info">將版面分為三欄,但每欄寬度不等</div>
<div class="row">
    <div class="col-md-3"><pre>@article</pre></div>
    <div class="col-md-4"><pre>@article</pre></div>
    <div class="col-md-5"><pre>@article</pre></div>
</div>

@section topCSS{
<link href="~/Assets/css/ColumnHeader.css" rel="stylesheet" />
    <style>
        img{
            width:100%;
        }

        div.panel {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

    </style>
}

