@{
    ViewBag.Title = "Razor Rules";
    var num = 1;
}


<div class="jumbotron alert-success"><h2>Razor語法規則</h2></div>
<div class="content">
    <!--Razor = HTML + C#-->
    <div class="alert alert-info">規則@(num++)：Razor語法包含：(1) HTML語法 (2) C#語法兩部分</div>
    <p>
        <article>
            遇到HTML的Markup,就解析為HTML (HTML Parser)， <br />
            遇到單一@符號開頭,就解析為C#語法 (C# Parser)。<br />
        </article>
    </p>

    <!--2.Single statement blocks-->
    <div class="alert alert-info">規則@(num++)：單行C#程式區塊</div>
    @{ var PostalCode = 110; }
    @{ var City = "Taipei"; }
    <p>
        <del>Code Block中的C#變數或程式不做HTML輸出</del>
    </p>

    @*以下用明確型別宣告變數也可以*@
    @{ string city = "Taoyuan"; }
    @{ int postalCode = 334; }

    <!--3.Multi statement blocks-->
    <div class="alert alert-info">規則@(num++)：多行C#程式區塊</div>
    @{
        var Name = "Kevin";
        var Height = 180;
        var Weight = 75;
    }
    <p>
        <del>Code Block中的C#變數或程式不做HTML輸出</del>
    </p>

    <!--4.Inline Expression-->
    <div class="alert alert-info">規則@(num++)：Inline表達式</div>
    <p>我的名字: @Name </p>
    <p>我的身高: @Height </p>
    <p>我的體重: @Weight </p>
    <p>居住城市: @City  </p>
    <p>郵遞區號: @PostalCode </p>

    <!--5.Implicit transitions-->
    <div class="alert alert-info">規則@(num++)：Code Block中的HTML與C#隱式切換</div>
    @{
        var LeapYear = DateTime.IsLeapYear(DateTime.Now.Year);
        <p>今年是否為閏年：@LeapYear </p>
    }

    <!--6.C#關鍵字區分大小寫-->
    <div class="alert alert-info">規則@(num++)：Razor語法中的C#關鍵字嚴格區分大小寫(但VB不區分)</div>
    @{
        var MyName = "聖殿祭司";
        var myName = "奚江華";
    }
    <p>
        筆名: @MyName <br />
        姓名: @myName <br />
    </p>

    <!--7.單行註解-->
    <div class="alert alert-info">規則@(num++)：單行註解表示法@@*...*@@</div>
    <p>
        @@*這是單行註解*@@
    </p>

    <!--8.多行註解-->
    <div class="alert alert-info">規則@(num++)：多行註解表示法@@*...*@@</div>
    <article>
        @*多行註解
            也有支援*@
        <p>@@*多行註解</p>
        <p>也有支援*@@</p>
    </article>

    <!--9.Implicit Razor expressions-->
    <div class="alert alert-info">規則@(num++)：隱性Razor表達式是由@符號開頭，系統會將它解析為C#語法</div>
    <p>現在的時間是：@DateTime.Now <strong> -- @@DateTime.Now </strong></p>

    <!--10.Explicit Razor expressions-->
    <div class="alert alert-info">規則@(num++)：明確Razor表達式是由@@(...)前後帶括號組成</div>
    <p>兩週前我出國去玩，出發日期是：@((DateTime.Now - TimeSpan.FromDays(14)).ToShortDateString()) <strong>  -- @@((DateTime.Now - TimeSpan.FromDays(14)).ToShortDateString()) </strong></p>
    <p>3+7的結果是: @(3 + 7) </p>

    <!--11.@@跳脫符號-->
    <div class="alert alert-info">規則@(num++)：需要顯示@@符號時，是用兩個@@@@小老鼠符號來表示，才不會和Razor的@符號混淆</div>
    <p>
        @@_@@ <br />
    <p>
    <p>
        但Email和超連結例外<br />
        我的電子郵件: dotnetcool@gmail.com <br />
        <a href="mailto:service@domain.com">Service@domain.com</a>
    </p>

    <!--12.""雙引號-->
    <div class="alert alert-info">規則@(num++)：如果變數字串想顯示雙引號, 就用連續兩個""雙引號表示</div>
    @{ var word = @"子曰："" 三人行，必有我師焉 ""...";}
    <p>@word</p>

    <!--13.用將HTML或JS編碼成純文字-->
    <div class="alert alert-info">規則@(num++)：用@@(...)將HTML或JS編碼成純文字</div>
    @{ var msg = @"<button type='button' onclick='alert(""Hi JavaScript"")'> Raw原始字串, 不做HTML編碼</button>"; }
    
    <p>@(msg)</p>
    @("<span>Hello MVC!</span>") <br />

    <!--14：用@@Html.Raw()顯示原始字串-->
    <div class="alert alert-info">規則@(num++)：用@@Html.Raw()顯示原始字串, 不做HTML編碼</div>
    <p>@Html.Raw(msg)</p>

    <p>使用@@Html.Raw()顯示原始字串, 不做HTML編碼. JavaScript也可以隱藏其中, 會有安全上的考量</p>

    <!--15.磁碟路徑表示法-->
    <div class="alert alert-info">規則@(num++)：磁碟路徑表示法</div>

    @{ var filePath = @"c:\MvcFolder\"; }
    <p>磁碟路徑: @filePath</p>

    @{
        var imageVirtualPath = @"/Assets/images/SteveJobs.jpg";
    }

    <p>Virtual Path虛擬路徑: @imageVirtualPath</p>
    <p>Physical path實際路徑: @Server.MapPath(imageVirtualPath)</p>
    
</div>

@*宣告自訂的CSS*@

@section topCSS{
    <style>
        div.alert {
            background-color: #d9edfd;
            font-size: larger;
            font-weight: 900;
            border: 2px dashed black;
        }

        body {
            /*background-color: orange;*/
            height: 100vh;
        }

        .container.body-content {
            /*height: 100%;*/
        }

        .content {
            /*height: 90%;*/
            background-color: #f3eded;
            border-radius: 10px;
            padding: 15px;
        }

        h5 {
            color: white;
            background-color: slateblue;
            border-radius: 5px;
            padding: 5px;
            display: inline-block;
            width: 768px;
        }

        strong {
            color: blue;
        }

        img {
            width: auto;
            height: 170px;
        }
    </style>
}
